


.fondo{
    width: 100%;
}

.contenedor1{
  margin-left: 70%;
}

.titulo{
color: white;
text-align: center;
margin-top: 10%;
font-size:xx-large;
}

.contenedor2{
 width: 100%;
}


.subtitulo{
    color: black;
    font-size: smaller;
    top: 40%;
}

.columna{
    margin-top: 5%;
}

.columnaInfo{
    padding: auto;
}



.hold1{
    margin-top: -20%;
}
.imageHold2{
    margin-top: 2%;
    margin-left: 20%;
}

.columna{
    padding-top: 2%;

}

.imagenDeFondo {
    height: 600px;
    width: 100%;
    background-image: url("./assets/img/blue_car.jpeg");
    background-size: cover;
    background-repeat:no-repeat;
    background-position: center center;
    position: relative;
  }



  .info{
    color: white;
    font-size: x-small;
    margin-top: 50%;
  
    }

  .info2{
    color: white;
    font-size: x-small;
    text-decoration: underline;
    margin-left: 90%;
    margin-top: 100%;

     
  
  }

 


  .titleP{
    color: white;
    margin-top:-15% ;
  }

  .Row{
    margin-bottom: 4%;
  }

  .contenedorGrid{
   width: 100%;
  }

  .subcontenedorGrid2{
    display: grid;
    grid-template-columns: repeat(3,320px);
    grid-template-rows:1fr 1fr 1fr;
    margin-left: 15%;
    align-items: center;
    
   
    
  }

  .item{

  }

  .item img{
    width: 320px;
    padding: 2%;
    object-fit: cover;
   
  }

  .contenedor3{
    position: relative;
    display: inline-block;
    text-align: center;
  }

  .textoencima{
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: white;
  }

  .barra2{
    width: 100%;
    background-color:aliceblue;
    height: 50px;
  }
  .barra{
    display: inline-block;
    margin-left: 6%;
    margin-top: 1%;
  }
  .barraContenedor{
    margin-left: 10%;
  }

  .parrafo{
    font-size: small;
    margin-left: 20%;
    color: gray;
    line-height : 25px;
  }
  .parrafo2{
    font-size: small;
    margin-right: 20%;
    color: gray;
    line-height : 25px;
  }

  .tituloHold{
    margin-left: 20%;
  }

  .cont{
    margin-left: 18%;
    margin-right: 40%;
    margin-top: 3%;
  }

  .titulo2{
    font-size: x-large;
  }
  .subtitulo2{
    font-size: small;
    color:gray;
    margin-top: 2%;
    margin-bottom: 8%;
    line-height: 25px;
  }

  .columna2{
    margin-left: 60%;
    margin-top: 15%;
    
  }
  .correo{
    color:blue;
  
  }
  .telefono{
    color: blue;
    
  }
  .contact{
    border-left: thick solid #000;
    height:25%;
    
  }
  .calle{
    color: gray;
    font-size:small;
    margin-top: 2%;

  }
  .direccion{
    color: gray;
    font-size: small;
    margin-top: 2%;
   
  }

  .home{
    color: gray;
  }

  .recomendaciones{
    color:gray;
  }